body{
  background-color: #7768AE !important;
}
.porcentaje{
  height:150px !important;
  width: 285px !important;
}
.card{
  margin-bottom: 5px;
}
.myColorNav{
  background-color: #4D9DE0;
}
.myFooter{
  text-align: center;
}
.colorFooter{
  background-color: #4D9DE0;
}
.background-card{
  background-image: linear-gradient(to right top, #4d9de0, #00a8da, #00afc3, #00b29e, #3bb273);
}
.card-quote-color{
  background-image: linear-gradient(to right top, #f6828c, #ea6a72, #dc5058, #cd353e, #bc0d24);
}
.header-quote-card{
  background-image: linear-gradient(to right top, #4d9de0, #00a8da, #00afc3, #00b29e, #3bb273);
}
.imgCarrousel{
  background-color: black;
}
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, blue, red 25%, yellow 25%, black 25%, green 25%);
  background-image: -moz-linear-gradient(left, blue, red 25%, yellow 25%, black 25%, green 25%);
  background-image: -o-linear-gradient(left, blue, red 25%, yellow 25%, black 25%, green 25%);
  background-image: linear-gradient(to right, blue, red 25%, yellow 25%, black 25%, green 25%);
}
.login{
  margin: 5px 0;
}
.register{
  margin: 5px 0;
}
.btnLLogin input{
  color: #fff;
  background-color: #40D5E8;//Paleta de colores delphi;
  border-color: #9D45A3;//Paleta de colores delphi;
}
.btnLRegister input{
  color: #fff;
  background-color: #3442C0;  //Paleta de colores delphi;
  border-color: #9D45A3;/Paleta de colores delphi;
}
.btnRLogin a{
  color: #fff;
  background-color: #40D5E8;//Paleta de colores delphi;
  border-color: #9D45A3;//Paleta de colores delphi;
}
.btnRRegister a{
  color: #fff;
  background-color: #3442C0;  //Paleta de colores delphi;
  border-color: #9D45A3;/Paleta de colores delphi;
}
.formulario{
  color: #FFF;
  /*font-family: 'Baloo Tammudu', cursive !important;*/
}
.formulario input, a{
  margin-top: 2px;
}
